aside {
  width: 400px;
}

.search {
  width: 100%;
  padding-bottom: 7px;
  position: sticky;
  top: 0;
  background: #fff;
  align-items: center;
  z-index: 1;
}

.search input {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
  padding: 0 10px 0 50px;
  border-radius: 30px;
  background: #ebebeb;
  font-size: 15px;
  color: #454545;
  letter-spacing: 1px;
  outline: none;
  border: none;
}

.search span {
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 20px;
  font-weight: 100;
  color: #454545;
}

.trending > div {
  padding: 5px 8px;
}

.trending .head {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
}

.trending .head p {
  padding: 7px 10px;
  font-size: 20px;
  font-weight: 800;
}

.trending,
.follow {
  max-height: 333px;
  width: 100%;
  background: #efefef;
  border-radius: 20px;
  margin: 0 0 20px 0;
}

.follow {
  max-height: 280px;
  overflow-y: auto;
}

.follow .head {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
}

.follow .head p {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 800;
}

.trends,
.persons {
  width: 100%;
}

.trend {
  max-width: 226px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #d4d4d4;
}

.trend-message {
  margin: 5px 0 0 8px;
}

.trend-name {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.trend-name p,
.trend-with p {
  font-size: 16px;
  opacity: 0.7;
}

.trend-with {
  margin: 0 0 20px 0;
  cursor: pointer;
}

.trend-with p a {
  color: #000;
}

.trend-with p a:hover {
  color: #00a7ff;
  cursor: pointer;
}

.trend-pic {
  padding: 20px 0;
}

.trend-pic img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.trend:hover,
.person:hover {
  background: #e8e8e8;
}

.show-more {
  padding: 12px 12px;
  text-decoration: underline;
}

.show-more:hover {
  background: #e8e8e8;
  border-radius: 30px;
}

.show-more a {
  color: #00a7ff;
}

.persons > div {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
}

.person-profile {
  padding: 0 0 0 10px;
}

.person-profile img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  opacity: 0.9;
}

.person-profile img:hover {
  opacity: 1;
}

.persons .name > div {
  padding: 2px 15px;
}

.persons .main-name > div {
  padding: 5px 15px;
}

.persons .main-name p {
  color: #949494;
  font-size: 14px;
}

.request button {
  font-size: 12px;
  padding: 8px 8px;
  border-radius: 30px;
  border: 1px solid #00a7ff;
  background-color: #00a7ff;
  color: #fff;
}

.request button:hover {
  background-color: #268cd8;
  cursor: pointer;
}
