.logo i {
  font-size: 33px;
  color: #00a7ff;
  padding: 8px 8px;
}

.logo i:hover {
  background-color: #e7f4fd;
  border-radius: 50%;
  cursor: pointer;
}

header {
  width: 200px;
  padding-top: 10px;
}

header nav ul li a {
  display: block;
  padding: 20px 10px;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

header nav ul li a:hover {
  background: #eff1f1;
  color: #000;
}

header nav ul li a i {
  font-weight: 100;
  padding: 0 20px 0 0;
}

.navbar button {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 17px 80px;
  background: #00a7ff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 30px;
}

.navbar button:hover {
  transition: all ease 0.2s;
  background: #268cd8;
}
