footer {
  max-width: 270px;
}

.policy {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  color: grey;
}

footer a:hover {
  text-decoration: underline;
}

footer span {
  color: grey;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 10px;
}
